.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# IDEs and editors
/.idea
/.vscode
/.DS_Store
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# dist
/dist/

# dependencies
/node_modules/*
node_modules

# misc
/yarn.lock
/yarn-error.log


/examples